<!-- index.html 
     USD ACM
     Laura Londo
     19 May 2014

     Template for the USD ACM home page. This page provides a glimpse of important club 
     information such as upcoming events and recent notices. It also shows off pictures 
     from recent club activities or interesting features that the club wants to present.
  -->

<!-- this template extends the base.html. The following blocks on this page override 
     the blocks defined in the base template. -->
{% extends "usdacm/base.html" %}

{% load staticfiles %} <!-- loads the server's static files. (needed to display the
			    images below) -->


<!-- owerrides the base content area -->
{% block content-area %}
<!-- Carousel ------------------------------------------------------------->
<!-- a scrolling slide show of pictures. -->
<div class="row">
  <div class="col-lg-12">    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
	<!-- slide 1 -->
	<div class="item active">
	  <img src="{% static "acm/img/artshow1.jpg" %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              
            </div>
          </div>
        </div>
        <!-- slide 2 -->
	<div class="item">
          <img src="{% static "acm/img/artshow2.jpg" %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Rachel Lincoln & Brianna Castaldo</h1>
              <p>The first place winners of the 2014 ACM Digital Art Show!</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
	<!-- slide 3 -->
	<div class="item">
	  <img src="{% static "acm/img/artshow3.jpg" %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>ACM Digital Art Show</h1>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- scroll left button -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <!-- scroll right button -->
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    
  </div> <!-- end col -->
</div> <!-- end row --> 
<!-- end carousel -->




<!-- the container places margins on the sides of the content -->
<div class="container"> 

  <!-- this row section uses Bootstrap's fluid layout. A row element comprises of 12 columns. 
       Each col element below is defined with the desired number of columns to span at 
       different window sizes. A push or pull can shift an element forward in the grid by 
       a specified ammount of columns on a certain screen size. -->
  <div class="row"> 

 
    <!-- Announcements -->
    <!-- this col section spans all 12 columns in x-small and small screens, but only 4 columns 
	 in medium and larger screens -->
    <div id="section" class="col-xs-12 col-sm-12 col-md-4">
      <h2 id="section-headd">Announcements</h2>
      
      {% for announcement in announcements %}
      <div class="panel">
	<h5><a href={% url 'usdacm.views.announcement' announcement.id %}>{{announcement.title}}</a></h5>
	<h6 class="subheader">{{announcement.text}}</h6>
	<h6><a href="#">Read More »</a></h6>
      </div>
      
      {% endfor %}
      <a class="btn btn-sm btn-success pull-right" href={% url 'usdacm.views.announcements' %}>all anonuncements »</a>

    </div>
    <!-- end Announcements -->
    
        
    <!-- Events. lists the first few upcomming events-->
    <!-- this col section is pushed to the right 4 columns on medium screens causing it to
	 switch places with the following pulled section -->
    <div id="section" class="col-xs-12 col-sm-6 col-md-4 col-md-push-4">
      <h2 id="section-headd">Upcomming Events</h2><hr>
      
      {% for event in events %}
      <div class="media">
	<a class="pull-left" href="#">
	  {% if event.pic %}
	  <img class="media-object img-50" src={{ event.pic.url }} alt="{{event.title}}">
	  {% else %}
	  <img class="media-object" src="http://placehold.it/50x50&text=[img]" alt="{{event.title}}">
	  {% endif %}
	</a>
	<div class="media-body">
	  
	  <h4 class="media-heading"><a href={% url 'usdacm.views.event' event.id %}>{{event.title}}</a></h4>
	  <p>{{event.text}}</p>
	</div>
      </div><hr>
      {% endfor %}  
      
      <a class="btn btn-sm btn-success pull-right" href={% url 'usdacm.views.events' %}>all events »</a>
    </div>
    <!-- end Events -->
    
    <!-- this col section is pushed to the left 4 columns on medium screens causing it to
	 switch places with the prevois pushed section -->
    <!-- Image -->
    <div id="section" class="col-xs-12 col-sm-6 col-md-4 col-md-pull-4">
      <div id="image-wrap" >
	<img id="homepage-image" src="{% static "acm/img/ztypechamp.jpg" %}">
      </div>
    </div>
    <!-- End Image -->


  </div> <!-- end row -->
</div> <!-- end container -->

{% endblock %}
