{% extends "usdacm/base.html" %}


{% block window-title %}
| {{member.firstName}} {{member.lastName}}
{% endblock %}



{% block content-area %}
<br>
Welcome to {{member.firstName}}'s Profile Page!! how exciting!<br><br>

<span>
{% if member.pic %}
<img id="avatar_lg" src="{{member.pic.url}}">
{% else %}
{% load staticfiles %}
<img id="avatar_lg" src="{% static "acm/img/default_pic.png" %}">
{% endif %}
</span>

<span>
<p>name: {{member.title}} {{member.firstName}} {{member.lastName}}</p>
<p>major: {{member.major}}</p>
<p>about: {{member.aboutMe}}</p>
{% endblock %}
</span>
