<!-- register_user.html 
     USD ACM
     Laura Londo
     19 May 2014

     Template for the user registration page. This page displays the user registration
     form for signing up as a new member. The registration form is actually a combination
     of two forms; one from the Django user class and the other from the member class that
     peovides extended information for each user.
  -->

<!-- this template extends the base.html. The following blocks on this page override 
     the blocks defined in the base template. -->
{% extends "usdacm/base.html" %}

{% load custom_filters %} <!-- loads custom filters such as the filter used to get the
			       form field's widget type below -->

<!-- appends text to the window/tab title -->
{% block window-title %}
| Join ACM!
{% endblock %}



<!-- overrides the base content area -->
{% block content-area %}
<div class="container">


  <!-- page title -->
  <div class="page-header">
    <h1>Join ACM</h1>
  </div>


  
  <!-- two-part tregistration form -->
  <div style="max-width:30em">  
    <form  method=post enctype="multipart/form-data">{% csrf_token %}
      
      <!-- user form -->
      {% for field in form %} <!-- for each field int he user form, -->
      {% if field.errors %} <!-- if the field has input errors, display a warning -->
      <div style="margin-bottom:0;"class="alert alert-warning">{{field.errors}}</div>
      {% endif %}
      <div class="form-group">
	<div class="input-group">
	  <!-- the field label -->
	  <span class="input-group-addon">
	    {% if field.field.required %} <b>{{field.label}}</b>
	    {% else %} {{field.label}} {% endif %}
	  </span>
	  <!-- the field input widget -->
	  <input autofocus="autofocus" 
		 type={{ field.field.widget|widget_type }}
		 class="form-control" 
		 name={{field.html_name}}   
		 {% if field.value %}value={{ field.value }}{% endif %}
		 placeholder={{field.label}}>
	</div>
      </div>
      {% endfor %}
      
      <!-- the member form -->
      {% for field in form2 %} <!-- for each field int he user form, -->
      {% if field.errors %} <!-- if the field has input errors, display a warning -->
      <div style="margin-bottom:0;" class="alert alert-warning">{{field.errors}}</div>
      {% endif %}
      <div class="form-group">
	<div class="input-group">
	  <!-- the field label -->
	  <span class="input-group-addon">
	    {% if field.field.required %} <b>{{field.label}}</b>
	    {% else %} {{field.label}} {% endif %}
	  </span>
	  <!-- the field input widget -->
	  <input type={{ field.field.widget|widget_type }}
		 class="form-control" 
		 name={{field.html_name}}   
		 {% if field.value %}value={{ field.value }}{% endif %}
		 placeholder={{field.label}}>    
	</div>
      </div>
      {% endfor %}
      
      
      <!-- submit button -->
      <button type=submit class="btn btn-lg btn-success pull-right">Register</button>
    </form>
  </div>







</div>
{% endblock %}

