/*
 * calendar.css
 * USD ACM
 * Laura Londo
 * 20 May 2014
 *
 * This document provides the styles for the events calendar.
 */




/* Styles for Calendar */
.calendar {
    padding-bottom: 26px;
    margin-top: 30px;
    width: 100%;
    display: block;
}
.calendar thead {
    display: none;
}
@media only screen and (min-width: 600px) {
    .calendar thead {
	text-align: center;
	display: block;
    }
}
.calendar tbody td {
    display: block;
    clear: both;
}
@media only screen and (min-width: 600px) {
    .calendar tbody td {
	display: table-cell;
	width: 150px;
	height: 100px;
	position: relative;
    }
}
.calendar tbody td div {
    width: 100%;
    height: 100%;
    border: solid 3px #fff;
    border-radius: 10px;
    background: #f5f5f5;  
}
.calendar .day {
    display: block;
    float: left;
    width: 20px;
    margin-right: 10px;
}


.calendar .inactive {
    color: #ccc;
}
.calendar tbody td.inactive div {
    background: transparent;
}
.calendar tbody td.inactive div .event {
    background: #ddd;
    color: #888888;
}
.calendar tbody td.today div {
    background: #CEF2CE;
}


.calendar .event {
    float: left;
    border-radius: 3px;
    display: block;
    padding: 2px;
    font-size: 0.8em;
    margin: 2px;
    color: #000;
}
.calendar .event.blue {
    background: #3a87ad;
}
.calendar .event.yellow {
    background: #f9c846;
}
.calendar .event.green {
    background:  #66c266; /*#a7d85b;*/
}

/*  ======================================
    displaying for small 
    ======================================*/
@media only screen and (max-width: 600px) {
    .calendar tbody td {
	width: 100% !important;
	border-top: solid 1px #eee;
    }
    .calendar tbody td div {
	background: transparent;
    }
    .calendar .event {
	float: none;
	margin-top: 5px;
	position: relative;
	margin-left: 2.5em;
	margin-bottom: 0;
	padding-left: 0.5em;
    }
    .calendar tbody tr, .calendar tbody {
	width: 100%;
	display: block;
    }
}
@media only screen and (min-width: 600px) {
    .event {
	width: 100%;
	display: block;
    }
}